/**
 * Professional theme for reveal.js.
 * Author: Alexandre René
 * Based on Solarized and Night themes by Achim Staebler, Hakim El Hattab
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/montserrat/montserrat.css);
@import url(../../lib/font/open-sans/open-sans.css);


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Custom colors
$notwhite:  #fcfaec;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Open Sans', sans-serif;
$headingFont: 'Montserrat', Impact, sans-serif;
$headingFontWeight: 700;
$mainFontSize: 35px;
$mainColor: darken( $base00, 10% );
$headingColor: darken( $base01, 10% );
$headingTextShadow: none;
$backgroundColor: $notwhite;
$linkColor: darken( $blue, 10% );
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: darken( $magenta, 10%);

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }


.reveal .hl1 {
   color: darken( $blue, 10% );
}
.reveal .hl2 {
   color: darken( $orange, 10% );
}
.reveal .incomplete {
   color: red;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
